workflows/monitoring/Manual_Ticketing.json
{
  "name": "MS Manual Ticketing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ticket-submit",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        144
      ],
      "id": "e1744c31-cc2f-4e5f-9ce4-d2e69ffd3e93",
      "name": "Submit Form (POST)",
      "webhookId": "cbc8020b-eb79-42dc-8987-729262608c64"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1cQF28y6zqRSTnrMVmbP80C41c6jTGVba2d0P6yt8h6s/edit?gid=69865055#gid=69865055",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 69865055,
          "mode": "list",
          "cachedResultName": "MASTER DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cQF28y6zqRSTnrMVmbP80C41c6jTGVba2d0P6yt8h6s/edit#gid=69865055"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ACCOUNT NUMBER",
              "lookupValue": "={{$node[\"Submit Form (POST)\"].json[\"body\"][\"accountNumber\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        144
      ],
      "id": "8ce13c4d-cde0-4a49-b66f-ae510de85ff7",
      "name": "Master DB",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QvJC758UqUJG5siZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "ticket-form",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        -80
      ],
      "id": "bb7b8d46-64f1-4330-adf1-63438b601e2a",
      "name": "Show Form (GET)",
      "webhookId": "b65647ee-7ee3-42da-b89e-1e65b23cf0a7",
      "credentials": {
        "httpBasicAuth": {
          "id": "FHscOdR73Hu30qSK",
          "name": "MS-Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Managed Services Ticket</title>\n  <style>\n    :root{\n      color-scheme: light;\n      --bg-gradient: linear-gradient(135deg, #E6ECF1 0%, #F4F6F8 100%);\n      --card:#1a1a1a;\n      --text:#ffffff;\n      --muted:#b0b0b0;\n      --border:#2a2a2a;\n      --accent:#00C389;\n      --field:#101214;\n      --field-focus:#15181c;\n      --danger:#FF4D4F;\n    }\n    *{ box-sizing:border-box }\n\n    /* Background video */\n    .bg-video{\n      position: fixed;\n      inset: 0;\n      width: 100%;\n      height: 100%;\n      object-fit: cover;\n      z-index: 0;\n      background: #0b0d0f; /* fallback base */\n    }\n\n    /* Fallback background image/gradient if video blocked */\n    .bg-fallback{\n      position: fixed;\n      inset: 0;\n      z-index: 0;\n      background: var(--bg-gradient);\n      opacity: 1;\n    }\n\n    /* Overlay (keep original brightness) */\n    .bg-overlay{\n      position: fixed;\n      inset: 0;\n      background: rgba(0,0,0,0.0);\n      z-index: 1;\n      pointer-events:none;\n    }\n\n    body{\n      margin:0;\n      min-height:100vh;\n      font-family:'Segoe UI', Arial, sans-serif;\n      color:var(--text);\n      background: var(--bg-gradient);\n    }\n\n    .page-content{\n      position: relative;\n      z-index: 2;\n      padding:20px;\n      min-height:100vh;\n      display:flex;\n      flex-direction:column;\n      align-items:center;\n      justify-content:center;\n    }\n\n    .logo-wrap{ width:100%; max-width:640px; text-align:center; margin-bottom:12px; }\n    .logo{\n      width:100%; max-width:640px; height:auto; object-fit:contain;\n      filter: drop-shadow(0 2px 12px rgba(0,0,0,.3));\n      border-radius:12px; padding:10px;\n    }\n\n    .container{\n      width:100%; max-width:520px;\n      background:rgba(26,26,26,0.92);\n      color:var(--text);\n      border:1px solid var(--border);\n      border-radius:16px;\n      box-shadow:0 18px 50px rgba(0,0,0,.65);\n      padding:32px 26px; text-align:center;\n      backdrop-filter: blur(2px);\n    }\n    h2{ margin:0 0 20px; font-size:20px; color:var(--accent) }\n\n    form{\n      display:grid; grid-template-columns:1fr 1fr; gap:15px; text-align:left;\n    }\n    label{ display:block; margin-bottom:6px; font-weight:600; font-size:14px; color:var(--muted) }\n\n    input, select{\n      width:100%; padding:10px 12px; font-size:14px;\n      color:var(--text);\n      background:var(--field);\n      border:1px solid var(--border);\n      border-radius:8px;\n      outline:none;\n      appearance:none;\n      transition:\n        border-color .2s ease,\n        background-color .2s ease,\n        box-shadow .2s ease,\n        transform .12s ease;\n    }\n    input::placeholder{ color:#7a7a7a }\n\n    select{\n      background-image:\n        linear-gradient(45deg, transparent 50%, rgba(255,255,255,.75) 50%),\n        linear-gradient(135deg, rgba(255,255,255,.75) 50%, transparent 50%);\n      background-position:\n        calc(100% - 18px) 50%,\n        calc(100% - 12px) 50%;\n      background-size: 6px 6px, 6px 6px;\n      background-repeat: no-repeat;\n      padding-right: 34px;\n    }\n\n    input:hover, select:hover{ border-color: rgba(255,255,255,.20); }\n\n    @keyframes fieldPop {\n      0%   { transform: scale(0.995); }\n      100% { transform: scale(1); }\n    }\n    input:focus, select:focus{\n      background:var(--field-focus);\n      border-color: rgba(0,195,137,.45);\n      box-shadow:0 0 0 3px rgba(0,195,137,.18);\n      animation: fieldPop 120ms ease-out;\n    }\n\n    .full{ grid-column:1 / -1 }\n\n    .submit-btn{\n      grid-column:1 / -1;\n      display:inline-flex; align-items:center; justify-content:center; gap:8px;\n      padding:12px 14px; border:0; border-radius:10px;\n      background:var(--accent); color:#fff; font-size:15px; cursor:not-allowed;\n      opacity:.6;\n      transition:background .25s ease, transform .12s ease, opacity .2s ease, box-shadow .2s ease;\n    }\n    .submit-btn.enabled{ cursor:pointer; opacity:1; }\n    .submit-btn:hover.enabled{\n      background:#00a873;\n      box-shadow:0 0 0 3px rgba(0,195,137,.15);\n    }\n    .submit-btn:active.enabled{ transform:translateY(1px) }\n\n    .spinner{\n      width:16px; height:16px; border:2px solid rgba(255,255,255,.5);\n      border-top-color:#fff; border-radius:50%; animation:spin .7s linear infinite; display:none;\n    }\n    .submitting .spinner{ display:inline-block }\n    @keyframes spin{ to{ transform:rotate(360deg) } }\n\n    /* Animated Others field */\n    #manualReason{\n      margin-top:8px;\n      background:var(--field);\n      color:#fff;\n      border:1px solid var(--border);\n      border-radius:8px;\n      padding:10px;\n      width:100%;\n\n      max-height:0;\n      opacity:0;\n      transform: translateY(-6px);\n      overflow:hidden;\n      padding-top:0;\n      padding-bottom:0;\n      border-width:0;\n\n      transition:\n        max-height .25s ease,\n        opacity .2s ease,\n        transform .25s ease,\n        padding .25s ease,\n        border-width .25s ease;\n    }\n    #manualReason.show{\n      max-height:60px;\n      opacity:1;\n      transform: translateY(0);\n      padding-top:10px;\n      padding-bottom:10px;\n      border-width:1px;\n    }\n\n    /* Multi-account UI */\n    .account-row{ display:flex; gap:10px; align-items:flex-start; }\n    .account-row .field-wrap{ flex:1; }\n\n    .icon-btn{\n      height:40px; min-width:40px;\n      border-radius:10px;\n      border:1px solid var(--border);\n      background:#0f1113;\n      color:var(--text);\n      cursor:pointer;\n      display:inline-flex;\n      align-items:center;\n      justify-content:center;\n      transition:transform .12s ease, border-color .2s ease;\n    }\n    .icon-btn:hover{ border-color:#3b3b3b; }\n    .icon-btn:active{ transform:translateY(1px) }\n    .icon-btn.danger{ border-color:rgba(255,77,79,.35); color:#fff; }\n    .icon-btn.danger:hover{ border-color:rgba(255,77,79,.7); }\n\n    .hint{ display:block; margin-top:6px; font-size:12px; color:var(--muted); }\n\n    .warn{ display:none; font-size:12px; margin-top:4px; }\n    .warn.ok{ color:#00FF7F; display:block; }\n    .warn.bad{ color:var(--danger); display:block; }\n\n    .accounts-actions{ display:flex; justify-content:flex-start; margin-top:10px; }\n    .add-btn{\n      display:inline-flex; align-items:center; justify-content:center; gap:8px;\n      padding:10px 12px;\n      border-radius:10px;\n      border:1px solid var(--border);\n      background:#0f1113;\n      color:var(--text);\n      cursor:pointer;\n      transition:transform .12s ease, border-color .2s ease;\n      font-size:13px;\n    }\n    .add-btn:hover{ border-color:#3b3b3b; }\n    .add-btn:active{ transform:translateY(1px); }\n\n    /* --- Submit progress + log --- */\n    .submit-meta{\n      grid-column: 1 / -1;\n      margin-top: 6px;\n      display: none;\n      gap: 8px;\n    }\n    .submit-meta.show{ display:grid; }\n\n    .progress-line{\n      font-size:12px;\n      color: rgba(255,255,255,.75);\n      display:flex;\n      align-items:center;\n      justify-content:space-between;\n      gap:10px;\n    }\n    .progress-badge{\n      font-size:11px;\n      padding:4px 8px;\n      border-radius:999px;\n      border:1px solid rgba(255,255,255,.12);\n      background: rgba(0,0,0,.25);\n      color: rgba(255,255,255,.85);\n      white-space:nowrap;\n    }\n    .log{\n      display:none;\n      margin-top: 6px;\n      border: 1px solid rgba(255,255,255,.10);\n      border-radius: 10px;\n      background: rgba(0,0,0,.22);\n      max-height: 160px;\n      overflow:auto;\n      padding:10px;\n    }\n    .log.show{ display:block; }\n\n    .log-item{\n      font-size:12px;\n      line-height:1.35;\n      color: rgba(255,255,255,.80);\n      padding:6px 0;\n      border-bottom:1px solid rgba(255,255,255,.06);\n    }\n    .log-item:last-child{ border-bottom:0; }\n    .log-item.ok b{ color:#00FF7F; }\n    .log-item.bad b{ color:var(--danger); }\n\n    .toggle-log{\n      border:1px solid rgba(255,255,255,.12);\n      background: rgba(0,0,0,.18);\n      color: rgba(255,255,255,.85);\n      border-radius: 10px;\n      font-size: 12px;\n      padding: 8px 10px;\n      cursor: pointer;\n      justify-self: start;\n      width: fit-content;\n    }\n    .toggle-log:hover{ border-color: rgba(255,255,255,.22); }\n\n    /* Disable feel when submitting */\n    .is-submitting input,\n    .is-submitting select,\n    .is-submitting button.add-btn,\n    .is-submitting button.icon-btn{\n      pointer-events:none;\n      opacity: .75;\n    }\n\n    /* --- Success view + button --- */\n    .success{\n      display:none;\n      color:var(--text);\n      text-align:left;\n    }\n    .success h3{\n      margin: 0 0 12px;\n      font-size: 16px;\n      font-weight: 700;\n    }\n    .summary{\n      margin-top:14px;\n      padding:14px;\n      background:#141414;\n      border:1px solid var(--border);\n      border-radius:10px;\n    }\n    .summary p{\n      margin:6px 0;\n      font-size:14px;\n      color:var(--muted);\n    }\n    .summary b{ color:var(--text); }\n\n    /* Make \"Submit Another Ticket\" look like submit */\n    .reset-btn{\n      width: 100%;\n      margin-top: 14px;\n\n      display:inline-flex;\n      align-items:center;\n      justify-content:center;\n      gap:8px;\n\n      padding:12px 14px;\n      border:0;\n      border-radius:10px;\n\n      background:var(--accent);\n      color:#fff;\n      font-size:15px;\n      font-weight:600;\n\n      cursor:pointer;\n      transition:background .25s ease, transform .12s ease, box-shadow .2s ease;\n    }\n    .reset-btn:hover{\n      background:#00a873;\n      box-shadow:0 0 0 3px rgba(0,195,137,.15);\n    }\n    .reset-btn:active{ transform:translateY(1px); }\n\n    /* If video autoplay is blocked, show a small hint (optional) */\n    .video-hint{\n      position: fixed;\n      left: 16px;\n      bottom: 16px;\n      z-index: 3;\n      padding: 10px 12px;\n      border-radius: 12px;\n      border: 1px solid rgba(255,255,255,.12);\n      background: rgba(0,0,0,.35);\n      color: rgba(255,255,255,.85);\n      font-size: 12px;\n      display:none;\n      backdrop-filter: blur(4px);\n    }\n    .video-hint.show{ display:block; }\n    .video-hint button{\n      margin-left: 10px;\n      border: 0;\n      border-radius: 10px;\n      padding: 7px 10px;\n      background: var(--accent);\n      color:#fff;\n      cursor:pointer;\n      font-weight: 600;\n    }\n    .video-hint button:hover{ background:#00a873; }\n\n    @media (max-width:600px){\n      form{ grid-template-columns:1fr }\n      .full{ grid-column:1 }\n      .container{ padding:24px 18px }\n      h2{ font-size:18px }\n    }\n  </style>\n</head>\n\n<body>\n  <!-- Fallback layer -->\n  <div class=\"bg-fallback\" id=\"bgFallback\"></div>\n\n  <video class=\"bg-video\" id=\"bgVideo\" autoplay muted loop playsinline preload=\"auto\">\n    <source src=\"https://res.cloudinary.com/dasd2apmh/video/upload/v1768963412/45961-447087612_1_dbjvje.mp4\" type=\"video/mp4\">\n  </video>\n  <div class=\"bg-overlay\"></div>\n\n  <!-- Optional helper if autoplay is blocked -->\n  <div class=\"video-hint\" id=\"videoHint\">\n    Background video is paused.\n    <button type=\"button\" id=\"playVideoBtn\">Play</button>\n  </div>\n\n  <div class=\"page-content\">\n    <div class=\"logo-wrap\">\n      <img\n        src=\"https://lh3.googleusercontent.com/d/1fTnhZQ7UyCElClY0UMFNCV2COQ2wnCSz=w1600\"\n        alt=\"Managed Services\"\n        class=\"logo\"\n        referrerpolicy=\"no-referrer\"\n        onerror=\"this.src='https://drive.google.com/thumbnail?id=1fTnhZQ7UyCElClY0UMFNCV2COQ2wnCSz&sz=w1600'\"/>\n    </div>\n\n    <div class=\"container\">\n      <h2>Managed Services Ticket</h2>\n\n      <form id=\"ticketForm\" action=\"https://enhancementservicesgroup.app.n8n.cloud/webhook/ticket-submit\" method=\"POST\" novalidate>\n        <div class=\"full\">\n          <label for=\"senderName\">Your Name</label>\n          <select id=\"senderName\" name=\"senderName\" required>\n            <option value=\"\" disabled selected>— Select Your Name —</option>\n            <option value=\"Jeremy\">Jeremy</option>\n            <option value=\"JM\">JM</option>\n            <option value=\"KG\">KG</option>\n            <option value=\"Jibril\">Jibril</option>\n            <option value=\"Harnold\">Harnold</option>\n            <option value=\"Jegg\">Jegg</option>\n            <option value=\"Jed\">Jed</option>\n            <option value=\"Neero\">Neero</option>\n          </select>\n        </div>\n\n        <div>\n          <label for=\"issueType\">Issue Type</label>\n          <select id=\"issueType\" name=\"issueType\" required>\n            <option value=\"\" disabled selected>— Select Issue Type —</option>\n            <option value=\"Proactive\">Proactive</option>\n            <option value=\"Reactive\">Reactive</option>\n          </select>\n        </div>\n\n        <div>\n          <label for=\"reason\">Reason</label>\n          <select id=\"reason\" name=\"reason\" required>\n            <option value=\"\" disabled selected>— Select Reason —</option>\n            <option value=\"Link Down\">Link Down</option>\n            <option value=\"Interface Down\">Interface Down</option>\n            <option value=\"Managed Device Down\">Managed Device Down</option>\n            <option value=\"ONU LOS\">ONU LOS</option>\n            <option value=\"Intermittent\">Intermittent</option>\n            <option value=\"High Latency\">High Latency</option>\n            <option value=\"Dying Gasps\">Dying Gasps</option>\n            <option value=\"Technical Query\">Technical Query</option>\n            <option value=\"Others\">Others</option>\n          </select>\n          <input type=\"text\" id=\"manualReason\" name=\"manualReason\" placeholder=\"Please specify the reason\" />\n        </div>\n\n        <!-- MULTIPLE ACCOUNT NUMBERS -->\n        <div class=\"full\">\n          <label>Account Number(s)</label>\n\n          <div id=\"accountsWrap\">\n            <!-- First row (required) -->\n            <div class=\"account-row\" data-row=\"1\">\n              <div class=\"field-wrap\">\n                <input\n                  type=\"text\"\n                  class=\"accountNumber\"\n                  name=\"accountNumber[]\"\n                  placeholder=\"Account Number\"\n                  required\n                  inputmode=\"numeric\"\n                  pattern=\"\\d{13}\"\n                  maxlength=\"13\"\n                  autocomplete=\"off\"\n                />\n                <small class=\"warn\"> </small>\n              </div>\n              <button type=\"button\" class=\"icon-btn danger removeAccountBtn\" title=\"Remove\" style=\"visibility:hidden;\">×</button>\n            </div>\n          </div>\n\n          <div class=\"accounts-actions\">\n            <button type=\"button\" id=\"addAccountBtn\" class=\"add-btn\">+ Add another account</button>\n          </div>\n\n          <small class=\"hint\">Each account must be exactly 13 digits. One submit will create one ticket per account.</small>\n        </div>\n\n        <button type=\"submit\" id=\"submitBtn\" class=\"submit-btn\" disabled>\n          <span class=\"spinner\"></span>\n          <span id=\"submitLabel\">Submit Ticket</span>\n        </button>\n\n        <!-- Progress + Log -->\n        <div class=\"submit-meta\" id=\"submitMeta\">\n          <div class=\"progress-line\">\n            <span id=\"progressText\">Ready.</span>\n            <span class=\"progress-badge\" id=\"progressBadge\">0/0</span>\n          </div>\n          <button type=\"button\" class=\"toggle-log\" id=\"toggleLogBtn\" aria-expanded=\"false\">Show details</button>\n          <div class=\"log\" id=\"statusLog\" aria-live=\"polite\"></div>\n        </div>\n      </form>\n\n      <div class=\"success\" id=\"successMessage\">\n        <h3>✅ Ticket successfully submitted!</h3>\n        <div class=\"summary\">\n          <p><b>Sender:</b> <span id=\"summaryName\">—</span></p>\n          <p><b>Issue Type:</b> <span id=\"summaryIssueType\">—</span></p>\n          <p><b>Reason:</b> <span id=\"summaryReason\">—</span></p>\n          <p><b>Account Number(s):</b> <span id=\"summaryAccount\">—</span></p>\n        </div>\n\n        <button type=\"button\" class=\"reset-btn\" id=\"resetFormBtn\">Submit Another Ticket</button>\n      </div>\n    </div>\n  </div>\n\n<script>\n/* --- Background video autoplay fallback (important for n8n / Chrome policies) --- */\nconst bgVideo = document.getElementById('bgVideo');\nconst bgFallback = document.getElementById('bgFallback');\nconst videoHint = document.getElementById('videoHint');\nconst playVideoBtn = document.getElementById('playVideoBtn');\n\nasync function tryPlayVideo(){\n  if (!bgVideo) return;\n  try {\n    const p = bgVideo.play();\n    if (p && typeof p.then === 'function') await p;\n    // If playing, hide fallback layer\n    bgFallback.style.opacity = '0';\n    videoHint.classList.remove('show');\n  } catch(e) {\n    // Autoplay blocked -> keep fallback visible + show hint\n    bgFallback.style.opacity = '1';\n    videoHint.classList.add('show');\n  }\n}\nif (playVideoBtn){\n  playVideoBtn.addEventListener('click', () => tryPlayVideo());\n}\n// attempt on load + on first user interaction\nwindow.addEventListener('load', () => tryPlayVideo());\ndocument.addEventListener('click', () => { tryPlayVideo(); }, { once:true });\n\n/* --- Form logic --- */\nconst form = document.getElementById('ticketForm');\nconst submitBtn = document.getElementById('submitBtn');\nconst submitLabel = document.getElementById('submitLabel');\n\nconst successMessage = document.getElementById('successMessage');\nconst summaryName = document.getElementById('summaryName');\nconst summaryIssueType = document.getElementById('summaryIssueType');\nconst summaryReason = document.getElementById('summaryReason');\nconst summaryAccount = document.getElementById('summaryAccount');\n\nconst senderName = document.getElementById('senderName');\nconst issueType = document.getElementById('issueType');\nconst reason = document.getElementById('reason');\nconst manualReason = document.getElementById('manualReason');\n\nconst accountsWrap = document.getElementById('accountsWrap');\nconst addAccountBtn = document.getElementById('addAccountBtn');\n\nconst submitMeta = document.getElementById('submitMeta');\nconst progressText = document.getElementById('progressText');\nconst progressBadge = document.getElementById('progressBadge');\nconst statusLog = document.getElementById('statusLog');\nconst toggleLogBtn = document.getElementById('toggleLogBtn');\n\nfunction getAccountInputs(){\n  return Array.from(document.querySelectorAll('.accountNumber'));\n}\nfunction getWarnEl(input){\n  return input.closest('.field-wrap').querySelector('.warn');\n}\n\ntoggleLogBtn.addEventListener('click', () => {\n  const showing = statusLog.classList.toggle('show');\n  toggleLogBtn.textContent = showing ? 'Hide details' : 'Show details';\n  toggleLogBtn.setAttribute('aria-expanded', showing ? 'true' : 'false');\n});\n\nfunction showSubmitMeta(show){\n  submitMeta.classList.toggle('show', !!show);\n}\n\nfunction setProgress(current, total, message){\n  progressText.textContent = message || '';\n  progressBadge.textContent = `${current}/${total}`;\n}\n\nfunction resetLog(){\n  statusLog.innerHTML = '';\n  statusLog.classList.remove('show');\n  toggleLogBtn.textContent = 'Show details';\n  toggleLogBtn.setAttribute('aria-expanded', 'false');\n}\n\nfunction logItem(ok, account, msg){\n  const div = document.createElement('div');\n  div.className = `log-item ${ok ? 'ok' : 'bad'}`;\n  div.innerHTML = `<b>${ok ? 'OK' : 'FAIL'}</b> — ${account}${msg ? ` • ${msg}` : ''}`;\n  statusLog.appendChild(div);\n  statusLog.scrollTop = statusLog.scrollHeight;\n}\n\n/* Animated manual reason field */\nreason.addEventListener(\"change\", () => {\n  if (reason.value === \"Others\") {\n    manualReason.classList.add(\"show\");\n    manualReason.required = true;\n  } else {\n    manualReason.classList.remove(\"show\");\n    manualReason.required = false;\n    manualReason.value = \"\";\n  }\n  validateFormFields();\n});\n\nfunction normalizeAccountInput(input){\n  input.value = input.value.replace(/\\D/g, '');\n  if (input.value.length > 13) input.value = input.value.slice(0, 13);\n}\n\nfunction validateAccountInput(input){\n  const warn = getWarnEl(input);\n  const val = (input.value || \"\").trim();\n  const ok = /^\\d{13}$/.test(val);\n\n  if (!val) {\n    warn.className = \"warn bad\";\n    warn.textContent = \"Account number is required.\";\n    return false;\n  }\n  if (ok) {\n    warn.className = \"warn ok\";\n    warn.textContent = \"✔ Valid account number\";\n    return true;\n  }\n  warn.className = \"warn bad\";\n  warn.textContent = \"Account number must be exactly 13 digits.\";\n  return false;\n}\n\nfunction validateFormFields(){\n  const nameOK = senderName.value !== \"\";\n  const typeOK = issueType.value !== \"\";\n  const reasonOK = reason.value !== \"\" && (reason.value !== \"Others\" || manualReason.value.trim() !== \"\");\n  const accounts = getAccountInputs();\n  const accountsOK = accounts.length > 0 && accounts.every(inp => /^\\d{13}$/.test((inp.value || \"\").trim()));\n\n  if(nameOK && typeOK && reasonOK && accountsOK){\n    submitBtn.disabled = false;\n    submitBtn.classList.add(\"enabled\");\n  } else {\n    submitBtn.disabled = true;\n    submitBtn.classList.remove(\"enabled\");\n  }\n}\n\nfunction attachAccountInputHandlers(input){\n  input.addEventListener('input', () => {\n    normalizeAccountInput(input);\n    validateAccountInput(input);\n    validateFormFields();\n  });\n  input.addEventListener('blur', () => {\n    normalizeAccountInput(input);\n    validateAccountInput(input);\n    validateFormFields();\n  });\n}\n\nfunction attachRemoveHandler(btn){\n  btn.addEventListener('click', () => {\n    const row = btn.closest('.account-row');\n    row.remove();\n\n    const rows = Array.from(document.querySelectorAll('.account-row'));\n    rows.forEach((r, idx) => {\n      const removeBtn = r.querySelector('.removeAccountBtn');\n      removeBtn.style.visibility = (idx === 0) ? 'hidden' : 'visible';\n    });\n\n    validateFormFields();\n  });\n}\n\naddAccountBtn.addEventListener('click', () => {\n  const rowCount = document.querySelectorAll('.account-row').length;\n  const next = rowCount + 1;\n\n  const row = document.createElement('div');\n  row.className = 'account-row';\n  row.dataset.row = String(next);\n\n  row.innerHTML = `\n    <div class=\"field-wrap\">\n      <input\n        type=\"text\"\n        class=\"accountNumber\"\n        name=\"accountNumber[]\"\n        placeholder=\"Account Number\"\n        required\n        inputmode=\"numeric\"\n        pattern=\"\\\\d{13}\"\n        maxlength=\"13\"\n        autocomplete=\"off\"\n      />\n      <small class=\"warn\"> </small>\n    </div>\n    <button type=\"button\" class=\"icon-btn danger removeAccountBtn\" title=\"Remove\">×</button>\n  `;\n\n  accountsWrap.appendChild(row);\n\n  const rows = Array.from(document.querySelectorAll('.account-row'));\n  rows.forEach((r, idx) => {\n    const removeBtn = r.querySelector('.removeAccountBtn');\n    removeBtn.style.visibility = (idx === 0) ? 'hidden' : 'visible';\n  });\n\n  const newInput = row.querySelector('.accountNumber');\n  const removeBtn = row.querySelector('.removeAccountBtn');\n\n  attachAccountInputHandlers(newInput);\n  attachRemoveHandler(removeBtn);\n\n  newInput.focus();\n  validateFormFields();\n});\n\n/* initial handlers */\ngetAccountInputs().forEach(attachAccountInputHandlers);\ndocument.querySelectorAll('.removeAccountBtn').forEach(attachRemoveHandler);\n\nsenderName.addEventListener('change', validateFormFields);\nissueType.addEventListener('change', validateFormFields);\nreason.addEventListener('change', validateFormFields);\nmanualReason.addEventListener('input', validateFormFields);\n\nasync function postOneTicket(baseData, accountNumber){\n  const payload = { ...baseData, accountNumber };\n\n  const res = await fetch(form.action, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(payload)\n  });\n\n  if (!res.ok) {\n    let bodyText = \"\";\n    try { bodyText = await res.text(); } catch(e){}\n    const msg = bodyText ? bodyText.slice(0, 160) : \"\";\n    throw new Error(msg || `HTTP ${res.status}`);\n  }\n}\n\nfunction setSubmittingUI(on){\n  form.classList.toggle('submitting', on);\n  document.body.classList.toggle('is-submitting', on);\n  submitLabel.textContent = on ? 'Submitting…' : 'Submit Ticket';\n}\n\nform.addEventListener('submit', async (e) => {\n  e.preventDefault();\n  if (!form.reportValidity()) return;\n\n  const accounts = getAccountInputs();\n  const allValid = accounts.every(inp => validateAccountInput(inp));\n  if (!allValid) { validateFormFields(); return; }\n\n  const accountNumbers = accounts.map(i => (i.value || \"\").trim()).filter(Boolean);\n  const uniqueAccounts = Array.from(new Set(accountNumbers));\n\n  const data = Object.fromEntries(new FormData(form).entries());\n  const finalReason = data.reason === \"Others\" ? (data.manualReason || \"\").trim() : data.reason;\n  const baseData = { senderName: data.senderName, issueType: data.issueType, reason: finalReason };\n\n  resetLog();\n  showSubmitMeta(true);\n  statusLog.classList.add('show');\n  toggleLogBtn.textContent = 'Hide details';\n  toggleLogBtn.setAttribute('aria-expanded','true');\n\n  setSubmittingUI(true);\n  submitBtn.disabled = true;\n\n  const total = uniqueAccounts.length;\n  let done = 0;\n\n  try {\n    setProgress(0, total, `Sending ${total} ticket${total>1?'s':''}…`);\n\n    for (const acc of uniqueAccounts) {\n      setProgress(done, total, `Sending ${done+1}/${total}…`);\n      try {\n        await postOneTicket(baseData, acc);\n        done += 1;\n        logItem(true, acc, 'Submitted');\n        setProgress(done, total, `Sent ${done}/${total}.`);\n      } catch (err) {\n        logItem(false, acc, err && err.message ? err.message : 'Submit failed');\n        throw new Error(`Submit failed for account ${acc}`);\n      }\n    }\n\n    summaryName.textContent = baseData.senderName || '—';\n    summaryIssueType.textContent = baseData.issueType || '—';\n    summaryReason.textContent = baseData.reason || '—';\n    summaryAccount.textContent = uniqueAccounts.join(', ') || '—';\n\n    form.style.display = 'none';\n    successMessage.style.display = 'block';\n  } catch (err) {\n    setProgress(done, total, `Stopped at ${done}/${total}. Please check details.`);\n    alert('⚠️ [ERROR] ' + (err && err.message ? err.message : 'Submit failed.'));\n  } finally {\n    setSubmittingUI(false);\n    submitBtn.disabled = false;\n    validateFormFields();\n  }\n});\n\ndocument.getElementById('resetFormBtn').addEventListener('click', () => {\n  successMessage.style.display = 'none';\n\n  form.reset();\n  form.style.display = 'grid';\n\n  manualReason.classList.remove(\"show\");\n  manualReason.required = false;\n  manualReason.value = \"\";\n\n  accountsWrap.innerHTML = `\n    <div class=\"account-row\" data-row=\"1\">\n      <div class=\"field-wrap\">\n        <input\n          type=\"text\"\n          class=\"accountNumber\"\n          name=\"accountNumber[]\"\n          placeholder=\"Account Number\"\n          required\n          inputmode=\"numeric\"\n          pattern=\"\\\\d{13}\"\n          maxlength=\"13\"\n          autocomplete=\"off\"\n        />\n        <small class=\"warn\"> </small>\n      </div>\n      <button type=\"button\" class=\"icon-btn danger removeAccountBtn\" title=\"Remove\" style=\"visibility:hidden;\">×</button>\n    </div>\n  `;\n\n  resetLog();\n  showSubmitMeta(false);\n  setProgress(0,0,'Ready.');\n\n  getAccountInputs().forEach(attachAccountInputHandlers);\n  document.querySelectorAll('.removeAccountBtn').forEach(attachRemoveHandler);\n\n  validateFormFields();\n});\n\n// Initial state\nresetLog();\nshowSubmitMeta(false);\nvalidateFormFields();\n</script>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        272,
        -80
      ],
      "id": "aacd4415-befc-4477-ab29-e4477af51ca1",
      "name": "HTML"
    },
    {
      "parameters": {
        "sendTo": "={{$json[\"TO\"]}}",
        "subject": "={{ \n  $json[\"TO\"] === \"mnstech@convergeict.com\"\n    ? \"[GNFO-MNS]\"\n    : $json[\"TO\"] === \"enterprisesupport@convergeict.com\"\n      ? \"[GNFO-ES]\"\n      : \"[GNFO]\" \n}}\n {{ $node[\"Submit Form (POST)\"].json[\"body\"][\"issueType\"].toUpperCase() }} | \n {{ $json[\"DEVICE NAME\"] }} | \n {{\n    $node[\"Submit Form (POST)\"].json[\"body\"][\"reason\"] === \"Others\"\n      ? $node[\"Submit Form (POST)\"].json[\"body\"][\"manualReason\"]\n      : $node[\"Submit Form (POST)\"].json[\"body\"][\"reason\"]\n }}",
        "message": "=<p style=\"font-family:Calibri, Arial, sans-serif; font-size:12.5px; color:#000; margin:0 0 6px;\">\n  Hi Team,\n</p>\n\n<p style=\"font-family:Calibri, Arial, sans-serif; font-size:12.5px; color:#000; margin:0 0 14px;\">\n  Good morning, for creation of ticket and for your further checking.\n</p>\n\n<!-- DARK CARD -->\n<div style=\"\n  display:inline-block;\n  font-family:Calibri, Arial, sans-serif;\n  font-size:12.5px;\n  background:#1a1a1a;\n  color:#ffffff;\n  border-radius:8px;\n  padding:16px 20px;\n  margin-bottom:16px;\n  max-width:100%;\n  width:auto;\n  word-wrap:break-word;\n  box-sizing:border-box;\n  box-shadow:0 0 10px rgba(0,195,137,0.25);\n  border:1px solid rgba(0,195,137,0.3);\n\">\n\n  <!-- 100% SILENT ISSUE VARIABLE -->\n  {{ (() => { \n      $json.issueCheck = $node[\"Submit Form (POST)\"].json[\"body\"][\"reason\"]; \n      return \"\" \n  })() }}\n\n  {{$json[\"DEVICE NAME\"]\n    ? `<p style=\"margin:0 0 6px;\"><strong style=\"color:#00C389;\">Site Name:</strong> ${$json[\"DEVICE NAME\"]}</p>`\n    : \"\"}}\n\n  {{$json[\"ACCOUNT NUMBER\"]\n    ? `<p style=\"margin:0 0 6px;\"><strong style=\"color:#00C389;\">Account Number:</strong> ${$json[\"ACCOUNT NUMBER\"]}</p>`\n    : \"\"}}\n\n  {{$json[\"CID\"]\n    ? `<p style=\"margin:0 0 6px;\"><strong style=\"color:#00C389;\">Circuit ID:</strong> ${$json[\"CID\"]}</p>`\n    : \"\"}}\n\n  <!-- Hide Termination if Interface Down -->\n  {{($json.issueCheck !== \"Interface Down\" && $json[\"TERMINATION\"])\n    ? `<p style=\"margin:0 0 6px;\"><strong style=\"color:#00C389;\">Termination:</strong> ${$json[\"TERMINATION\"]}</p>`\n    : \"\"}}\n\n  <!-- Hide SN if Interface Down -->\n  {{($json.issueCheck !== \"Interface Down\" && $json[\"SERIAL\"])\n    ? `<p style=\"margin:0 0 6px;\"><strong style=\"color:#00C389;\">SN:</strong> ${$json[\"SERIAL\"]}</p>`\n    : \"\"}}\n\n  <!-- Device Model only if Interface Down -->\n  {{($json.issueCheck === \"Interface Down\" && $json[\"DEVICE MODEL\"])\n    ? `<p style=\"margin:0 0 6px;\"><strong style=\"color:#00C389;\">Device Model:</strong> ${$json[\"DEVICE MODEL\"]}</p>`\n    : \"\"}}\n\n  <!-- Managed Device Serial only if Interface Down -->\n  {{($json.issueCheck === \"Interface Down\" && $json[\"MANAGED DEVICE SERIAL\"])\n    ? `<p style=\"margin:0 0 6px;\"><strong style=\"color:#00C389;\">Managed Device Serial:</strong> ${$json[\"MANAGED DEVICE SERIAL\"]}</p>`\n    : \"\"}}\n\n  {{$json[\"POC\"]\n    ? `<p style=\"margin:0 0 6px;\"><strong style=\"color:#00C389;\">POC:</strong> ${$json[\"POC\"]}</p>`\n    : \"\"}}\n\n  {{$json[\"CONTACT NO.\"]\n    ? `<p style=\"margin:0 0 6px;\"><strong style=\"color:#00C389;\">Contact No.:</strong> ${$json[\"CONTACT NO.\"]}</p>`\n    : \"\"}}\n\n  {{$json[\"ADDRESS\"]\n    ? `<p style=\"margin:0 0 6px;\"><strong style=\"color:#00C389;\">Address:</strong> ${$json[\"ADDRESS\"]}</p>`\n    : \"\"}}\n\n  <p style=\"margin:0;\">\n    <strong style=\"color:#00C389;\">Issue:</strong>\n    {{$json.issueCheck === \"Others\"\n      ? $node[\"Submit Form (POST)\"].json[\"body\"][\"manualReason\"]\n      : $json.issueCheck}}\n  </p>\n\n</div>\n\n<p style=\"font-family:Calibri, Arial, sans-serif; font-size:12.5px; color:#000; margin:16px 0 6px;\">\n  Thank you.\n</p>\n\n<p style=\"font-family:Calibri, Arial, sans-serif; font-size:12.5px; color:#000; margin:0;\">\n  Regards,<br>\n  <span style=\"color:#00C389; font-weight:600;\">\n    {{$node[\"Submit Form (POST)\"].json[\"body\"][\"senderName\"]}}\n  </span><br>\n  Global Network Fulfillment & Ops – Managed Services Group<br>\n  <a href=\"mailto:enhancementservices@convergeict.com\" style=\"color:#0563c1; text-decoration:underline;\">enhancementservices@convergeict.com</a><br>\n  <a href=\"https://www.convergeict.com\" style=\"color:#0563c1; text-decoration:underline;\">www.convergeict.com</a> |\n  <a href=\"https://www.facebook.com/ConvergeICTOfficial\" style=\"color:#0563c1; text-decoration:underline;\">facebook.com/ConvergeICTOfficial</a><br>\n  Reliance IT Center, #99 E. Rodriguez Jr. Avenue, Ugong, Pasig City\n</p>\n\n<p style=\"margin-top:8px;\">\n  <img src=\"https://drive.google.com/uc?export=view&id=1NUQPE6FcnThPZPIpt36jeuU0-pvhftQ7\" \n       alt=\"Converge Logo\" width=\"110\" style=\"vertical-align:middle; margin-right:10px;\">\n  <img src=\"https://drive.google.com/uc?export=view&id=1-rHVYhS7f7Cv7vkh8LSaeDBJekXvZQqq\" \n       alt=\"Managed Services Logo\" width=\"140\" style=\"vertical-align:middle;\">\n</p>\n",
        "options": {
          "ccList": "={{$json[\"CC\"]}}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        496,
        144
      ],
      "id": "4f361d4a-cfd8-4543-b746-3893ef75a1ef",
      "name": "For creation of ticket email",
      "webhookId": "b400ed1f-f29b-4aca-81d7-28121b7c2b9a",
      "credentials": {
        "gmailOAuth2": {
          "id": "y7aUz9q2vlpdIIfd",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Submit Form (POST)": {
      "main": [
        [
          {
            "node": "Master DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master DB": {
      "main": [
        [
          {
            "node": "For creation of ticket email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Show Form (GET)": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "For creation of ticket email": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f110270c-3257-404f-a5e1-ab3ee2735cdb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a0b6b1fb8b9630230695a625881eb8f515c3ece4338c3f4434847dcff8fe9deb"
  },
  "id": "Bju5xXehS1Ihf3ge",
  "tags": []
}