workflows/database/Edit_Workflow.json
{
  "name": "Edit Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ms-db-update",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4c06c7eb-7e9c-4a67-8632-6bff165c1c16",
      "name": "Webhook",
      "webhookId": "0d18baf5-7bd9-48cb-adc0-a5b12c3db56e"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xuwvg-2uz-1xfa-bLiEeFeSOXE2D5Dvu1KZGTRmnUN4",
          "mode": "list",
          "cachedResultName": "MASTER-SITES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xuwvg-2uz-1xfa-bLiEeFeSOXE2D5Dvu1KZGTRmnUN4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "STATUS": "={{ $json.body.updates.STATUS }}",
            "ACCOUNT NUMBER": "={{ $json.body.accountNumber }}",
            "CID": "={{ $json.body.updates.CID }}",
            "ONU SN": "={{ $json.body.updates[\"ONU SN\"] }}",
            "SITE NAME": "={{ $json.body.updates[\"SITE NAME\"] }}",
            "CLIENT": "={{ $json.body.updates.CLIENT }}",
            "SITE ADDRESS": "={{ $json.body.updates[\"SITE ADDRESS\"] }}",
            "DEVICE MODEL": "={{ $json.body.updates[\"DEVICE MODEL\"] }}",
            "SERIAL": "={{ $json.body.updates.SERIAL }}",
            "MODEL": "={{ $json.body.updates.MODEL }}",
            "IP BLOCK": "={{ $json.body.updates[\"IP BLOCK\"] }}",
            "WAN PARENT SUBNET": "={{ $json.body.updates[\"WAN PARENT SUBNET\"] }}",
            " NPE UPLINK": "={{ $json.body.updates[\"NPE UPLINK\"] }}",
            "NPE REMOTE IP": "={{ $json.body.updates[\"NPE REMOTE IP\"] }}",
            "GLOBE CIRCUIT ID": "={{ $json.body.updates[\"GLOBE CIRCUIT ID\"] }}",
            "VLAN": "={{ $json.body.updates.VLAN }}",
            "TERMINATION": "={{ $json.body.updates.TERMINATION }}",
            "DEVICE": "={{ $json.body.updates.DEVICE }}",
            "PLAN": "={{ $json.body.updates.PLAN }}",
            "POC": "={{ $json.body.updates.POC }}",
            "CONTACT": "={{ $json.body.updates.CONTACT }}"
          },
          "matchingColumns": [
            "ACCOUNT NUMBER"
          ],
          "schema": [
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ACCOUNT NUMBER",
              "displayName": "ACCOUNT NUMBER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CID",
              "displayName": "CID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ONU SN",
              "displayName": "ONU SN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SITE NAME",
              "displayName": "SITE NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLIENT",
              "displayName": "CLIENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SITE ADDRESS",
              "displayName": "SITE ADDRESS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DEVICE MODEL",
              "displayName": "DEVICE MODEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SERIAL",
              "displayName": "SERIAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MODEL",
              "displayName": "MODEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IP BLOCK",
              "displayName": "IP BLOCK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WAN PARENT SUBNET",
              "displayName": "WAN PARENT SUBNET",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VLAN",
              "displayName": "VLAN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TERMINATION",
              "displayName": "TERMINATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DEVICE",
              "displayName": "DEVICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " NPE UPLINK",
              "displayName": " NPE UPLINK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NPE REMOTE IP",
              "displayName": "NPE REMOTE IP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GLOBE CIRCUIT ID",
              "displayName": "GLOBE CIRCUIT ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PLAN",
              "displayName": "PLAN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "POC",
              "displayName": "POC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CONTACT",
              "displayName": "CONTACT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        0
      ],
      "id": "72f36952-7d43-4f44-a424-e2db5fc911d9",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1i1tpEXYZjDu6amt",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf37d8b5-5e5f-40b1-8736-076fe21d0357",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "0f2d2fe8-b460-415a-bc19-c9780697716f",
              "name": "message",
              "value": "Updated successfully",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "1e825456-8d5c-4631-89a1-0421eef2c873",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "972b17e7-274c-4794-bc27-03126ed3038b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a0b6b1fb8b9630230695a625881eb8f515c3ece4338c3f4434847dcff8fe9deb"
  },
  "id": "4JsAho10h_Gp6AXeOdYoU",
  "tags": []
}