n8n-generic-automation/workflows/database/LOG_Database.json
{
  "name": "LOG Database",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ms-login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -144,
        624
      ],
      "id": "8a50cb66-ddc6-4ed4-9c0b-8c1519dd26b1",
      "name": "Webhook1",
      "webhookId": "8668a864-61cb-4fcd-bca6-2d5401650440"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"full_name\": \"{{ $('Get row(s)1').item.json.FULL_NAME }}\",\n  \"role\": \"{{ $('Get row(s)1').item.json.ROLE }}\"\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        752,
        528
      ],
      "id": "2702bbd2-b877-4b51-a495-3ef00204a1f4",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "TABLE_ID_ACCOUNTS_XXX",
          "mode": "list",
          "cachedResultName": "User Accounts",
          "cachedResultUrl": "/projects/WmQNc2vm5e9Pq3uc/datatables/TABLE_ID_ACCOUNTS_XXX"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "ID_NO",
              "keyValue": "={{ String($json.body.id_no) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        80,
        624
      ],
      "id": "252a8373-4035-4460-883e-5550fdf86011",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "49a7eb5a-d337-4beb-b6d3-ae10506ef6cc",
              "leftValue": "={{ $json.PASSWORD }}",
              "rightValue": "={{ $('Webhook1').item.json.body.password }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "212e325f-310c-4116-9d84-35b4de1a990d",
              "leftValue": "={{ $json.ACTIVE }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        624
      ],
      "id": "78c8f7f2-806b-4d6d-996e-a92bdba2e01c",
      "name": "If1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "TABLE_ID_LOGS_XXXXXX",
          "mode": "list",
          "cachedResultName": "Activity Logs",
          "cachedResultUrl": "/projects/WmQNc2vm5e9Pq3uc/datatables/TABLE_ID_LOGS_XXXXXX"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TIME_STAMP": "={{ new Date().toLocaleString() }}",
            "ID_NO": "={{ $('Webhook1').item.json.body.id_no }}",
            "FULL_NAME": "={{ $('Get row(s)1').item.json.FULL_NAME }}",
            "ACTION": "SUCCESS",
            "IP": "={{ $('Webhook1').item.json.headers['x-forwarded-for'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TIME_STAMP",
              "displayName": "TIME_STAMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ID_NO",
              "displayName": "ID_NO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FULL_NAME",
              "displayName": "FULL_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ACTION",
              "displayName": "ACTION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IP",
              "displayName": "IP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        528,
        528
      ],
      "id": "f447e3b7-425f-48e6-8afd-a67dd6851430",
      "name": "Insert row2"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "TABLE_ID_LOGS_XXXXXX",
          "mode": "list",
          "cachedResultName": "Activity Logs",
          "cachedResultUrl": "/projects/WmQNc2vm5e9Pq3uc/datatables/TABLE_ID_LOGS_XXXXXX"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TIME_STAMP": "={{ new Date().toISOString() }}",
            "ID_NO": "={{ $('Webhook1').item.json.body.id_no }}",
            "ACTION": "FAILED",
            "FULL_NAME": "={{ $('Get row(s)1').item.json.FULL_NAME }}",
            "IP": "={{ $('Webhook1').item.json.headers['x-forwarded-for'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TIME_STAMP",
              "displayName": "TIME_STAMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ID_NO",
              "displayName": "ID_NO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FULL_NAME",
              "displayName": "FULL_NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ACTION",
              "displayName": "ACTION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IP",
              "displayName": "IP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        528,
        720
      ],
      "id": "d5f12038-fe1d-4507-87e5-9db40a21f98d",
      "name": "Insert row3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Invalid credentials or inactive account\"\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        752,
        720
      ],
      "id": "3a40f805-e2a6-46a4-8a6b-16f952778b77",
      "name": "Respond to Webhook3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Insert row2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row3": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "212686c4-3d5a-49bd-8f3c-f3ae28ac0d7b",
  "meta": {
    "instanceId": "a0b6b1fb8b9630230695a625881eb8f515c3ece4338c3f4434847dcff8fe9deb"
  },
  "id": "u_2tf9aaClJnjPbOSvueN",
  "tags": []
}